@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d3dae7;
	font-family: Montserrat;
}

#wrapper {
	display: flex;
	width: 95%;
	min-width: 750px;
	margin: auto;
	background-color: #e2e0e0;
	border: 2px solid white;
    border-radius: 2%
}
#left-column {
	display: flex;
    flex-direction: column;
    padding: 55px 0 55px 0;
    color: 	black;
	min-width: 35%;

}
#profile-image img {
	width: 	180px;
	height: 180px;
	border: 1px solid white;
	border-radius: 7%;
	display: block;
	margin: auto;
	box-shadow: 10px 10px #e8a62e;

}
#info-wrapper {
	display: flex;
	flex-direction: column;			
}
.header-wrapper {
	text-transform: uppercase;	
	padding-bottom: 5px;
	border-bottom: 2px dashed #e8a62e;
}


.content-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;	
	flex-direction: column;
	flex-wrap: wrap;
	height: 100%;
	-webkit-transition: height 1.5s ease;
	-moz-transition: height 0.5s ease;
	-o-transition: height 0.5s ease;
	transition: height 0.5s ease;
}
.content-item {
	display: flex;
	align-items: flex-start;
}

#left-column .content-item {
	padding-bottom: 10px;
	margin-bottom: 15px;
}

#left-column #education-wrapper .content-wrapper {
	display: flex;
	flex-direction: column;
}
#education-wrapper > div.content-wrapper > div {
	display: flex;
	flex-direction: column;
}

.text-wrapper p {
	margin: 0;
	margin-left: 10px;
	padding-right: 15px;

}
.text-wrapper .label {
	font-weight: bold;
}
.text-wrapper .data {
	font-style: italic;
	word-break: break-word;
	font-size: 15px;
}

#right-column .text-wrapper .data {
	padding-bottom: 10px;
}  



h4 {
	margin: 0;
	padding: 0;
}
.section-left {
	padding-top: 30px;
	margin-left: 55px;
}



.fa-stack {
	border-radius: 50%;
	text-align: center;
	background-color: #e8a62e;
	color: white;
	width: 2em;
	height: 2em;
}



#right-column {
	padding: 55px 25px 25px 25px;
	flex-grow: 1;
}




#right-column .header-wrapper {
	display: flex;
	align-items: center;
	border-color: transparent;

}


#right-column .header-wrapper h4 {
	border-bottom: 2px dashed #e8a62e;
	flex-grow: 1;
	padding-bottom: 3px;
}

.header-wrapper h4 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#right-column .content-wrapper {
	padding-top: 5px;
}

#right-column .content-item {
	border-top: 1px solid black;
}

#header-right {
	height: 182px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 33px;
}

#header-right p {
	margin: 0;
	font-size: 12px;
}

#full-name {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 45px;
	margin: 0;

}

#job-name {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}

.timeline {
	display: flex;
	justify-content: center;
	position: relative;
	width: 33px;
	min-width: 33px;
	align-self: stretch;
	margin-top: -5px;
}

.timeline .line {
	width: 1px;
	background-color: #2c2c2c;
}

.timeline .point {
	height: 6px;
	width: 6px;
	background-color: #e8a62e;
	border-radius: 50%;
	border: 2px solid white;
	position: absolute;
}

.timespan {
	min-width:90px;
	text-align: center;
	margin-left: 10px;
}

#right-column .timespan {
	min-width:90px;
	text-align: center;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}

#work-wrapper > div.content-wrapper > div:nth-child(1) {
	border: none;
}

#work-wrapper > div.content-wrapper > div:nth-child(1) > div.timeline > div.point {
	border: none;
	height: 0;
	width: 0;
}

.marginb-15 {
	margin-bottom: 20px;
	margin-left: 55px;
}

.timeline-wrapper {
	padding-left: 16px;
	margin-left: 16px;
	border-left: 2px solid #2c2c2c; 
}

.progress {
	flex-grow: 1;
	margin: 0 10px;
	height: 5px;
	background-color: black;
	max-width: 50%;
}

.fill {
	background-color: #e8a62e;
	width: 0;
	height: 100%;
	transition: all 1s;
}

#skills-wrapper .text-wrapper {
	display: flex;
	align-items: center;
	flex-grow: 1;
	justify-content: space-between;
}

#skills-wrapper .content-item {
   min-width: 48%;
   margin: 10px 0;
}

#skills-wrapper .timeline-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-left: 0;
	padding-left: 0;
	border-left: 0;
}

#skills-wrapper > .timeline-wrapper > div > div > .label{
	width:35%;
}

.border-bottom {
	border-bottom: 1px solid black;
}
.margin-left-10 {
	margin-left: 10px;
}
